site_name: HomeLab&Cloud
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.follow
    - navigation.top
    - navigation.footer
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  icon:
    repo: fontawesome/brands/github
    admonition:
      warning: octicons/alert-fill-16
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning2: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  language: en
  palette:
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      primary: deep orange
      accent: blue
    - scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode    
      primary: blue
      accent: deep orange

extra:
  alternate:
    - name: English
      link: /en/
      lang: en
    - name: Arabic
      link: /ar/ 
      lang: ar
    - name: French
      link: /fr/
      lang: fr
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/ammaar-e

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      
repo_url: https://github.com/Ammaar-e/mkdocs

copyright: |
  &copy; 2023 <a href="https://github.com/Ammaar-e"  target="_blank" rel="noopener">Ammaar Solutions Ltd. </a>
